<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - BlogApp</title>
</head>
<body>

    <header>
        <div>
            <h1>Blogging to the world</h1>
        </div>
    </header>
    <nav>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('create_post') }}">Create post</a>
        <a href="#">Contact</a>
        <a href="{{ url_for('logout') }}">Logout</a>

        {% else %}
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('signup') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
        
        {% endif %}
    </nav>
    <div>
        {% block content %} 
        {% for post in posts %}
        <div>
            <div>User: {{post.user_id}}</div>
            <div>Title: {{post.title}}</div>
            <div>Content: {{post.content}}</div>
            <div>Timecreated: {{post.created_at}}</div>
        </div>
        

         {% endfor %}

        {% endblock %}
    </div>  
</body>
</html>